*{
    font-family: "Monserat";
}
a{
    text-decoration: none;
    color:white
}
.divisiongeneral{
    display: flex;
    flex-direction:column; 
}
.cabecera{
    text-align: center;
    background-color:rgb(160, 255, 179);
    padding:10px;
    font-size: 12px;
}
.navegacion{
    text-align:center;
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    background-color:dimgray;
}

/* para inicio */
#contenidoimagenes{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));;
}
#contenidoimagenes > *{
    width: 120px;
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid dimgray;
    margin:10px;
    box-shadow: 1px 1px 1px gray;
}

/* para hobbies */
#contenidoimagenesjuegos{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    align-items: center;
}
#contenidoimagenesjuegos > *{
    background-color: rgb(226, 226, 226);
}
.elementoscontenedor{
    width: 120px;
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid dimgray;
    margin:10px;
    box-shadow: 1px 1px 1px gray;
}
#SoungContainer{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 20px;
    gap: 10px;
}
.piedepagina{
    text-align: center;
    background-color:dimgray;
    padding:10px;
    color:white
}

#universidadimagenes{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    align-items: center;
}
#universidadimagenes img{
    width: 250px;
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid dimgray;
    box-shadow: 1px 1px 1px gray;
}