*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    text-decoration: none;
    color:white
}
.divisiongeneral{
    display: flex;
    flex-direction:column; 
}
.cabecera{
    text-align: center;
    background-color:deepskyblue;
    padding:10px;
    font-size: 10px;
}
.navegacion{
    text-align:center;
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    background-color:dimgray;
}
.contenido{
    font-style: italic;
}

/* para inicio */
#contenidoimagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#contenidoimagenes > *{
    width: 120px;
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid dimgray;
    margin:10px;
    box-shadow: 1px 1px 1px gray;
}

/* para hobbies */
#contenidoimagenesjuegos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#elementoscontenedorimagenesjuegos{
    width: 120px;
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px solid dimgray;
    margin:10px;
    box-shadow: 1px 1px 1px gray;
}
.piedepagina{
    text-align: center;
    background-color:dimgray;
    padding:10px;
    color:white
}