@font-face {
    font-family: "Jerset15";
    src: url("assets/fonts/Jersey15-Regular.ttf");
}
@font-face {
    font-family: "Monserat";
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}