*{
    font-family:sans-serif;
}
body{
    padding: 0px 100px;
}

a{
    text-decoration: none;
    margin: 0px;
    color: white;
    font-style: italic;
}
.enmedio{
    display: flex;
    flex-direction: row;
    gap:0px;
}
header{
    background-color:steelblue;
    padding: 30px;
    color:white;
}
footer{
    background-color: steelblue;
    padding: 30px;
    color:white;
    text-align: center;
}
.navegacion{
    background-color:gray;
    color:lightgray;
}
.navegacion > div{
    margin: 10px;
    text-align: center;
}
.contenido{
    padding:10px;
    background-color: lightgray;
    flex: 1;
    color: black;
}
.descripccion{
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 30px;
}


.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto > label{
    margin: 10px 0 0 0;
    border-bottom-style:solid;
    border-bottom-width: 10px;
    border-bottom-color: gray;
    
}
.contacto > *{
    box-sizing: border-box;
    width: 100%;
}

#contenedornosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap:10px
}

#contenedornosotros > *{
    border-top: 10px solid gray;
    margin: 10px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
}

#contenedorportafolio{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
#contenedorportafolio > * {
    background-color: gray;
    text-align: center;
}
.contenedorservicios > *{
    border-top: 10px solid gray;
    margin: 10px;
    text-align: center;
    background-color: white;
}